@model K_Burns_GU2_Speedo_Models.Models.User
@using K_Burns_GU2_Speedo_Models.Models

@{
    ViewBag.Title = "Delete User";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--Makes a 'Delete user' Form-->
<h2 class="text-center">Delete @Model.Forename</h2>

<br />
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h4 class="text-center White-Text">Are you sure you want to delete this user?</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <dl class="row White-Text">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Forename)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Forename)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Surname)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Surname)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Street)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Street)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.City)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Postcode)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Postcode)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.RegisteredAt)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.RegisteredAt)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.CurrentRole)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CurrentRole)
                    </dd>


                    @if (Model is Employee employee)
                    {

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(modelEmployee => employee.SalaryOutput)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(modelEmployee => employee.SalaryOutput)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(modelEmployee => employee.EmployementStatus)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(modelEmployee => employee.EmployementStatus)
                        </dd>
                    }
                    else if (Model is Customer customer)
                    {
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(modelCustomer => customer.CustomerType)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(modelCustomer => customer.CustomerType)
                        </dd>
                    }

                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                </dl>
            </div>
        </div>
    </div>

    <br />

    <div class="d-flex justify-content-center d-inline">
        <p>@Html.ActionLink("Back to Manage Employees", "ManageEmployees", null, new { @class = "links-colors" })</p>

        <!--Deals with the submission of the form-->
        <div class="form-group ms-5">
            <div class="col-md-offset-2 col-md-10">
                <!-- Add the modal trigger button here -->
                <button type="button" class="btn btn-primary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#removeConfirmModal">
                    DELETE
                </button>
            </div>
        </div>
    </div>

    <!-- Remove Confirm Modal -->
    <div class="modal fade" id="removeConfirmModal" tabindex="-1" aria-labelledby="removeConfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeConfirmModalLabel">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: lightgray">
                    <p>Are you sure you want to delete this user?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
}
