@model K_Burns_GU2_Speedo_Models.Models.Product

@{
    ViewBag.Title = "Delete Product";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--Deals with deleting products form-->
<h2 class="text-center">Delete @Model.ProductName</h2>

<br />
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h4 class="text-center White-Text">Are you sure you want to delete this product?</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <dl class="row White-Text">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ProductName)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ProductDescription)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    @if (Model.OnSale)
                    {
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DiscountPrice)
                        </dd>
                    }
                    else
                    {
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                    }

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ProductSize)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ProductSize)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.StockLevel)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.StockLevel)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.OnSale)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.OnSale)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Discontinued)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Discontinued)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Category.CategoryName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Category.CategoryName)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <br />

    <div class="d-flex justify-content-center d-inline">
        <p>@Html.ActionLink("Back to Manage Products", "ManageProduct", null, new { @class = "links-colors" })</p>

        <div class="form-group ms-5">
            <div class="col-md-offset-2 col-md-10">
                <!-- Add the modal trigger button here -->
                <button type="button" class="btn btn-primary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#removeConfirmModal">
                    DELETE
                </button>
            </div>
        </div>
    </div>

    <!-- Remove Confirm Modal -->
    <div class="modal fade" id="removeConfirmModal" tabindex="-1" aria-labelledby="removeConfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeConfirmModalLabel">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: lightgray">
                    <p>Are you sure you want to delete this product?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
}