@model IEnumerable<K_Burns_GU2_Speedo_Models.Models.Invoice>

@{
    ViewBag.Title = "Invoices Report";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--Displays Invoices Report page-->

<h2 class="text-center">Invoices Report</h2>

<br />
<hr />

<div class="d-flex justify-content-center mb-3">
    @Html.ActionLink("SORT BY DAY", "ByDay", "Userpage", new { reportType = "Invoices" }, new { @class = "btn btn-warning btn-lg btn-block me-5 text-white" })
    @Html.ActionLink("SORT BY WEEK", "ByWeek", "Userpage", new { reportType = "Invoices" }, new { @class = "btn btn-warning btn-lg btn-block me-5 text-white" })
    @Html.ActionLink("SORT BY MONTH", "ByMonth", "Userpage", new { reportType = "Invoices" }, new { @class = "btn btn-warning btn-lg btn-block text-white" })
</div>

<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            All Invoices
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.InvoiceId)</th>
                        <th>@Html.DisplayNameFor(model => model.InvoiceDate)</th>
                        <th>@Html.DisplayNameFor(model => model.Order.TotalAmount) (including shipping)</th>
                        <th>@Html.DisplayNameFor(model => model.Order.User.UserName)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.InvoiceId)</td>
                            <td>@Html.DisplayFor(modelItem => item.InvoiceDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Order.TotalAmount)</td>
                            <td>@Html.DisplayFor(modelItem => item.Order.User.UserName)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />

<div class="d-flex justify-content-center d-inline">

    <p>@Html.ActionLink("Back to Dashboard", "AdvancedDashboardIndex", null, new { @class = "links-colors" })</p>

    <div class="form-group ms-5">
        <div class="col-md-offset-2 col-md-12">
            <button id="printReport" type="submit" class="btn text-white btn-warning btn-lg btn-block" onclick="return window.print()">
                PRINT REPORT
            </button>
        </div>
    </div>
</div>
