@model K_Burns_GU2_Speedo_Models.Models.ViewModels.InvoiceViewModel
@using K_Burns_GU2_Speedo_Models.Models

@{
    ViewBag.Title = "Order Confirmed";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Style additions -->
<style>
    .this-border {
        border: 2px solid #000000;
    }

    .btn-border {
        border: 1px solid #000000;
    }

</style>

<!--Displays the invoice view-->
<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card this-border" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
                        <h5 class=" mb-0">Thanks for your Order, <span style="color: green;">@Model.User.Forename</span>!</h5>
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0" style="color: green;">Receipt</p>
                            <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
                        </div>

                        <!--Loops through and displays the orderline details-->
                        @foreach (var item in Model.OrderLines)
                        {
                            <div class="card shadow-0 border mb-4">
                                <div class="card-body this-border">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="@item.Product.ImageUrl"
                                                 class="img-fluid" alt="A picture of @item.Product.ProductName">
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="mb-0">@item.Product.ProductName</p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="mb-0 small">@item.Product.Category.CategoryName</p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="mb-0 small">Size: @item.Product.ProductSize</p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="mb-0 small">Qty: @item.Quantity</p>
                                        </div>

                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="mb-0 small">£@item.LineTotal</p>
                                        </div>

                                    </div>
                                    <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-md-2">
                                            <p class="mb-0 small">Track Order</p>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="progress" style="height: 6px; border-radius: 16px;">
                                                @if (Model.Order.Status == Status.Pending)
                                                {
                                                    <div class="progress-bar" role="progressbar"
                                                         style="width: 0%; border-radius: 16px; background-color: green;" aria-valuenow="0"
                                                         aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                }
                                                @if (Model.Order.Status == Status.Packaging)
                                                {
                                                    <div class="progress-bar" role="progressbar"
                                                         style="width: 15%; border-radius: 16px; background-color: green;" aria-valuenow="15"
                                                         aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                }
                                                @if (Model.Order.Status == Status.Dispatched)
                                                {
                                                    <div class="progress-bar" role="progressbar"
                                                         style="width: 65%; border-radius: 16px; background-color: green;" aria-valuenow="65"
                                                         aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                }
                                                @if (Model.Order.Status == Status.Delivered)
                                                {
                                                    <div class="progress-bar" role="progressbar"
                                                         style="width: 100%; border-radius: 16px; background-color: green;" aria-valuenow="100"
                                                         aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                }

                                            </div>
                                            <div class="d-flex justify-content-around mb-1">
                                                <p class="mt-1 mb-0 small ms-xl-5">Out for delivery</p>
                                                <p class="mt-1 mb-0 small ms-xl-5">Delivered</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- More Details about the order and invoice-->
                        <div class="d-flex justify-content-between pt-2">
                            <p class="fw-bold mb-0">Order Details</p>
                        </div>

                        <div class="d-flex justify-content-between pt-2">
                            <p class="text-muted mb-0">Invoice Number : @Model.Invoice.InvoiceId</p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-muted mb-0">Invoice Date : @Model.Invoice.FormattedInvoiceDate</p>
                            <p class="mb-0"><span class="fw-bold me-4">Total</span> £@Model.Order.OrderTotal</p>
                        </div>

                        <div class="d-flex justify-content-between mb-5">
                            <p class="text-muted mb-0">Recepits Voucher : @Model.Invoice.ReceiptsVoucher</p>
                            <p class="mb-0"><span class="fw-bold me-4">Delivery Charges</span> £@Model.Shipping.ShippingCost</p>
                        </div>
                    </div>
                    <div class="card-footer border-0 px-4 py-5"
                         style="background-color: green; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        <div class="d-flex align-items-center justify-content-between">
                            <input type="button" value="Print Invoice" class="btn btn-primary btn-lg btn-block btn-border" onclick="window.print();" />
                            <h5 class="text-white text-uppercase mb-0">
                                Total paid: <span class="h2 mb-0 ms-2">£@Model.Order.TotalAmount</span>
                            </h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>